<main class="edit-main">
  <h1>Editing Book</h1>
    <%= form_for(@book, url:"/books/#{@book.id}") do |f| %>
    <% if @book.errors.any? %>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <body class="edit-body">
      <div class="form-title">Title</div>
        <%= f.text_field :title %>
      <div class="form-body">Body</div>
        <%= f.text_area :body %><br>
      <div class="upload">
        <%= f.submit " Update Book" %>
      </div>
    <% end %>
    <div class="menu">
      <%= link_to "Show", show_book_path(@book.id) %>
    </div>
      |
    <div class="menu">
      <%= link_to "Back", books_path %>
    </div>
  </body>
</main>